@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "CreateRequest";
}

<div class="navbar navbar-right" style="z-index: 1000; width:250px; margin-left:20px;  margin-top: 70px; position:absolute;">
    <div class="glyphicon glyphicon-menu-hamburger" style="width:250px; color:white; padding-top:15px; padding-left:15px;
                background-color:#436ccf; height:50px; border-top-left-radius:10px; border-top-right-radius:10px; font-size:20px;">
        <abbr style="font-family:Tahoma; font-size:20px; color:white;"> Меню </abbr>
    </div>
    <div class="navbar-inverse" style="height:250px; width:250px; position:absolute;">
        <ul class="nav navbar-nav side-nav" style="width:250px;">
            <li>
                <a asp-controller="Admin" asp-action="Company" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Компании </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Cabinet" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Кабинет</a>
            </li>
            <li>
                <a asp-controller="CheckPoint" asp-action="Visitors" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Посетители</a>
            </li>
            <li>
                <a asp-controller="Cabinet" asp-action="Request" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Заявки</a>
            </li>
            <li>
                <a asp-controller="CheckPoint" asp-action="KPP" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> КПП</a>
            </li>
        </ul>
    </div>
</div>
<div style="position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color:black;
  background-image:url(/images/fon_tech.png);
  background-repeat:round;">

    <div style="position:fixed;
  top: 100px;
  left: 300px;
  width: 100%;
  height: 90%;
  background-color:white;
  padding:30px;
  overflow: scroll;">

        <h1 style="padding-left:30px;" class="page-header"> Создать заявку </h1>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Cabinet" asp-action="Request">Заявки</a>
            </li>
            <li class="active">
                Создать
            </li>
        </ol>

        <div style="border-style:groove; border-width: 3px; width: 78%; margin-top:20px;">
            <div style="background:linear-gradient(to top,#c8b9b9,#efd7d7); height:40px; width:100%; top:30px; font-size: 20px; padding-top:7px; padding-left: 15px;">
                <i class="glyphicon glyphicon-floppy-save"></i>
                Создать заявку
            </div>
            <form style="margin-top:20px; margin-left:20px;">
                <label>
                    <h4>Номер</h4>
                </label>
                <input type="text" class="form-control" required disabled value="ORD_0093884778_99900234"/>
                <p class="help-block">Обязательное поле</p>
                <label>
                    <h4>Дата выдачи</h4>
                </label>
                <input type="date" class="form-control" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    <h4>Время с</h4>
                </label>
                <input type="date" maxlength="12" class="form-control" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    <h4>Срок действия </h4>
                </label>
                <input class="form-control" type="date" />
                <label>
                    <h4>Время по</h4>
                </label>
                <input class="form-control" type="date" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    <h4>Посетители</h4>
                </label>
                <input class="form-control" type="text" required/>
                <p class="help-block">Обязательное поле</p>
                <div style="margin-top:20px; margin-bottom:20px; position:relative; ">
                    <button type="submit" style="100px;" class="btn btn-primary">Сохранить</button>
                    <a asp-controller="Cabinet" asp-action="Request"><button type="button" class="btn" style="width:90px;"> Отмена</button></a>
                </div>

            </form>
        </div>
    </div>
</div>

