@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model qvisitorCorp.Models.qvOrder

@{

    ViewData["Title"] = "UpdateRequest";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Добавить заявку</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Cabinet" asp-action="Orders">Заявки</a>
        </li>
        <li class="active">
            Добавить заявку
        </li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-floppy-save"></i>
            Создать заявку
        </div>
        <div class="panel-body">
            <form asp-action="OrdersEdit">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CloseTime" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="CloseTime" class="form-control" />
                            <span asp-validation-for="CloseTime" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OpenTime" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="OpenTime" class="form-control" />
                            <span asp-validation-for="OpenTime" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderStausid" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <select asp-for="OrderStausid" class="form-control" asp-items="ViewBag.OrderStausid"></select>
                            <span asp-validation-for="OrderStausid" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderTypeid" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <select asp-for="OrderTypeid" class="form-control" asp-items="ViewBag.OrderTypeid"></select>
                            <span asp-validation-for="OrderTypeid" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Сохранить" class="btn" />
                            <a style="color:#333;" asp-controller="Cabinet" asp-action="Orders"><button type="button" class="btn"> Отмена</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>