@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "UpdateRequest";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Добавить заявку</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Cabinet" asp-action="Request">Заявки</a>
        </li>
        <li class="active">
            Добавить заявку
        </li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-floppy-save"></i>
            Создать заявку
        </div>
        <div class="panel-body">
            <form class="form-group">
                <label>
                    Номер
                </label>
                <input type="text" class="form-control" required disabled value="ORD_0093884778_99900234" />
                <p class="help-block">Обязательное поле</p>
                <label>
                    Дата выдачи
                </label>
                <input type="date" class="form-control" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    Время с
                </label>
                <input type="date" maxlength="12" class="form-control" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    Срок действия
                </label>
                <input class="form-control" type="date" />
                <label>
                    Время по
                </label>
                <input class="form-control" type="date" required />
                <p class="help-block">Обязательное поле</p>
                <label>
                    Посетители
                </label>
                <input class="form-control" type="text" required />
                <p class="help-block">Обязательное поле</p>
                <div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a asp-controller="Cabinet" asp-action="Request"><button type="button" class="btn"> Отмена</button></a>
                </div>
            </form>
        </div>
    </div>
</div>