@model qvisitorCorp.Models.qvOrder

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>qvOrder</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CloseTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CloseTime" class="form-control" />
                <span asp-validation-for="CloseTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OpenTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpenTime" class="form-control" />
                <span asp-validation-for="OpenTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderStausid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OrderStausid" class ="form-control" asp-items="ViewBag.OrderStausid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderTypeid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OrderTypeid" class ="form-control" asp-items="ViewBag.OrderTypeid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
