@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model qvisitorCorp.Models.qvEntrance
@{

    ViewData["Title"] = "UpdateVisitors";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Изменить информацию о посетителе</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="CheckPoint" asp-action="Entrances"> Посетители</a>
        </li>
        <li class="active">
            Изменить информацию о посетителе
        </li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                    Изменить информацию о посетителе
                </div>
                <div class="panel-body">
                    <form asp-action="EntrancesEdit">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="ActionDate" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="ActionDate" class="form-control" />
                                    <span asp-validation-for="ActionDate" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CheckPointId" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <select asp-for="CheckPointId" class="form-control" asp-items="ViewBag.CheckPointId"></select>
                                    <span asp-validation-for="CheckPointId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="EntranceTypeId" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <select asp-for="EntranceTypeId" class="form-control" asp-items="ViewBag.EntranceTypeId"></select>
                                    <span asp-validation-for="EntranceTypeId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderId" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                                    <span asp-validation-for="OrderId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VisitorId" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <select asp-for="VisitorId" class="form-control" asp-items="ViewBag.VisitorId"></select>
                                    <span asp-validation-for="VisitorId" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Сохранить" class="btn" />
                                    <a style="color:#333;" asp-controller="CheckPoint" asp-action="Entrances"><button type="button" class="btn"> Отмена</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
