@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "KPP";
}

<div class="navbar navbar-right" style="z-index: 1000; width:250px; margin-left:20px;  margin-top: 70px; position:absolute;">
    <div class="glyphicon glyphicon-menu-hamburger" style="width:250px; color:white; padding-top:15px; padding-left:15px;
                background-color:#436ccf; height:50px; border-top-left-radius:10px; border-top-right-radius:10px; font-size:20px;">
        <abbr style="font-family:Tahoma; font-size:20px; color:white;"> Меню </abbr>
    </div>
    <div class="navbar-inverse" style="height:250px; width:250px; position:absolute;">
        <ul class="nav navbar-nav side-nav" style="width:250px;">
            <li>
                <a asp-controller="Admin" asp-action="Company" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Компании </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Cabinet" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Кабинет</a>
            </li>
            <li>
                <a asp-controller="CheckPoint" asp-action="Visitors" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Посетители</a>
            </li>
            <li>
                <a asp-controller="Cabinet" asp-action="Request" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> Заявки</a>
            </li>
            <li>
                <a asp-controller="CheckPoint" asp-action="KPP" style="font-family:Tahoma; font-size:20px; width:250px; padding-left:20px;"> КПП</a>
            </li>
        </ul>
    </div>
</div>
<div style="position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color:white;">

    <div style="position:fixed;
  top: 100px;
  left: 300px;
  width: 100%;
  height: 90%;
  background-color:white;
  overflow: scroll;">

        <h1 style="padding-left:30px;" class="page-header"> Доступ к объекту </h1>
        <ol class="breadcrumb">
            <li class="active">
                КПП
            </li>
        </ol>
        <form>
            <input type="text" class="form-control" style="margin-left:20px; position:absolute;" placeholder="Искать" spellcheck="true">
            <button class="btn" style="background:linear-gradient(to top,#c8b9b9,white); position:absolute; margin-left:300px; width:100px;">
                <i class="glyphicon glyphicon-search"></i> Поиск
            </button>
            <button class="btn" style="color:white; background:linear-gradient(to top,#ff6a00,#ffa400); position:relative; margin-left:400px; width:100px;">
                <i class="glyphicon glyphicon-erase"></i> Сброс
            </button>
        </form>

        <div class="panel panel-default" style="border-style:groove; border-width: 3px; width: 78%; margin-top:20px;">
            <div class="panel-heading" style="height:40px; width:100%; top:30px; font-size: 20px; padding-top:7px; padding-left: 15px;">
                <i class="glyphicon glyphicon-list-alt"></i>
                Список пропусков
            </div>
            <div class="panel-heading">
                <p style="margin-top: 20px; margin-left: 10px; margin-bottom:0;">
                    Всего: 1 записей.
                </p>
                <a style="color:#333;" asp-controller="CheckPoint" asp-action="CreateKPP">
                    <div align="right" style="margin-right:20px; margin-top:0; margin-bottom:5px;">
                        <button class="btn btn-primary" style="margin-right:0;"><i class="glyphicon glyphicon-plus"></i>Зарегистрировать вход</button>
                    </div>
                </a>
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#333; color:#9d9d9d;">
                        <tr>
                            <th style="text-align:center;">#</th>
                            <th style="text-align:center;">ФИО</th>
                            <th style="text-align:center;">СОПРОВОЖДАЮЩИЙ</th>
                            <th style="text-align:center;">ПРОПУСК</th>
                            <th style="text-align:center;">ДЕЙСТВИЯ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div style="width:300px; padding-left:5px; height:50px;">
                                    <span class="badge" style="float:left; background-color:limegreen;">14:09:33</span>
                                    <abbr style="padding-left:5px;">Пупкин Василий Сергеевич</abbr>
                                </div>
                            </td>
                            <td>Нурмухамед Азиз</td>
                            <td><img style="height:17px; margin-right: 3px;" src="~/images/glyphicons_044_keys.png" />Нурмухамед Азиз</td>
                            <td>
                                <a style="color:#333;" asp-controller="CheckPoint" asp-action="SelectKPP">
                                    <button class="btn">Просмотр</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <ul class="pagination">
                        <li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i>&#160;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-chevron-right"> </i>&#160;</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

