@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "UpdateVisitors";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Изменить информацию о посетителе</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="CheckPoint" asp-action="Visitors"> Посетители</a>
        </li>
        <li class="active">
            Изменить информацию о посетителе
        </li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                    Изменить информацию о посетителе
                </div>
                <div class="panel-body">
                    <form>
                        <label>
                            Фамилия
                        </label>
                        <input type="text" class="form-control" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Имя
                        </label>
                        <input type="text" class="form-control" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Отчество
                        </label>
                        <input type="text" class="form-control" />
                        <label>
                            ИИН
                        </label>
                        <input type="text" maxlength="12" class="form-control" required />
                        <p class="help-block">Минимальная длина поля 12 символов</p>
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Национальность
                        </label>
                        <input class="form-control" type="text" />
                        <label>
                            Пол
                        </label>
                        <select class="form-control">
                            <option>Мужской</option>
                            <option>Женский</option>
                        </select>

                        <label>
                            Дата рождения
                        </label>
                        <input class="form-control" type="date" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Место рождения
                        </label>
                        <input class="form-control" type="text" />


                        <h1 style="margin-left: 30px; margin-top:50px; margin-bottom:40px;"> Документ </h1>

                        <label>
                            Тип документа
                        </label>
                        <select class="form-control">
                            <option>Удостоверение</option>
                            <option>Паспорт</option>
                        </select>
                        <label>
                            Номер документа
                        </label>
                        <input type="text" class="form-control" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Кем выдано
                        </label>
                        <input type="text" class="form-control" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Дата выдачи
                        </label>
                        <input class="form-control" type="date" required />
                        <p class="help-block">Обязательное поле</p>
                        <label>
                            Срок действия
                        </label>
                        <input class="form-control" type="date" required />
                        <p class="help-block">Обязательное поле</p>

                        <div style="margin-top:20px; margin-bottom:20px; position:relative; ">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a asp-controller="CheckPoint" asp-action="Visitors"><button type="button" class="btn"> Отмена</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
